*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('/images/1472.gif') no-repeat center;
    z-index: 999;
}

html{
    scroll-behavior: smooth;
}
.nav1{
    padding: 5px 30px;
}
.nav1 ul{
    text-transform: capitalize;
}

.main_header{
    height: 450px;
    width: 100%;
}

.corona-update{
    margin: 0 0 30px 0;
}
.corona-update h3{
    color: #ff7675;
}
.corona-update h1{
    font-size: 2rem;
    text-align: center;
}

.sub_section{
    background-color: #fbfafd;
}

.footer_style{
    background-color: black !important ;
    width: 100%;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 0 !important;
    padding: 15px 0 ;
}

.fd:hover{
    text-decoration: none;
}

#mybtn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00a8ff;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

#mybtn:hover{
    background: #606060;
}


.data-table{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.data-table .sort-header:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}


.data-show{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
}
.fight{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.corona-pic{
    text-align: center;
}

.donate{
    width: 100%;
    height: 90vh;
    position: relative;
}
.donate-row{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.error h2{
    font-size: 3.5rem;
    color: rgba(0,0,0,0.5);
}

@media (max-width : 830px){
    .corona-update .data-show{
        grid-template-columns: repeat(2,1fr);
    }

    .main-header .row .order-1 .fight{
        text-align: center;
    }
}