<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Website to give track of the coronavirus in India. A detailed country shows the extent of the coronavirus outbreak, with tables of the India and World.">
    <meta name="keywords" content="corona, corona india, corona world, corona meter, corona pandemic, covid19, covid19 data">
    <meta name="author" content="Mustafiz Kaifee">
    <meta http-equiv="refresh" content="10">
	
	<link rel="shortcut icon" href="/images/covid.png" type="image/x-icon">

    <script src="https://use.fontawesome.com/9f47f376f1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body onload="get()">

	<div id="loader"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
        <a class="navbar-brand pl-5" href="/">Covid19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          	<span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto pr-5 text-capitalize">
				<li class="nav-item">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#aboutid">about</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/countrywise">Country wise</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/statewise">State wise</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/indiatimeline">India's Timeline</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#sympid">Symptoms</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#preventid">Prevention</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/developer">Developer</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pm-care-fund">Donate</a>
				</li>
			</ul>
        </div>
      </nav>