<%- include('../partial/header') %>

<div class="container">
    <div class="row pt-5">
        <div class="col-lg-4">
            <div class="mb-4 card card-small">
                <div class="border-bottom text-center card-header">
                    <div class="mb-3 mx-auto">
                        <img src="/images/mustafiz.jpg" alt="Mustafiz" class="rounded-circle" width="100">
                    </div>
                    <h4 class="mb-0">Mustafiz Kaifee</h4>
                    <span class="text-muted d-block mb-2">Jamshedpur, India</span>
                    <div class="social-media">
                        <a href="https://www.instagram.com/codesthaan/" target="_blank" class="mr-2"><i class="fa fa-instagram"></i></a>
                        <a href="http://www.linkedin.com/in/mustafiz-kaifee-91b182190" target="_blank" class="mr-2"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/Mustafiz04" target="_blank"><i class="fa fa-github"></i></a>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="p-4 list-group-item">
                        <strong class="text-muted d-block mb-2 text-center">About</strong>
                        <span>
                            A 3rd year undergradute student from NIT Jamshedpur. Currently doing internship at OpenGenus and contribute to open source 
                            project under GirlScript Summer of Code 2020.
                        </span>
                    </li>
                    <li class="p-4 text-center list-group-item">
                        <a href="https://mustafiz04.github.io/mustafizkaifee/index.html" target="_blank"><button class="btn btn-outline-accent btn-sm">Know more</button></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="mb-4 card card-small">
                <div class="border-bottom card-header">
                    <h6 class="m-0">Open letter by me</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="p-4 list-group-item">
                        <strong>Hello 👋</strong>
                        <br>
                        <br>
                        I’m sure you’ll agree that, at this point, it isn’t an exaggeration to say that we are at war against the 
                        coronavirus and that it is a war we must win.
                        <br>
                        <br>
                        <strong>COVID-19</strong> or pandemic. This restricts the whole of India under lockdown. Everything is closed and 
                        restricts us at our home. You can choose to sleep, playing PUBG, doing nothing or you could utilize this break to 
                        learn something new. If you don't come out of this quarantine with new skill, you never lacked time, you lacked discipline.
                        Be organize, love everyone, help your mother even this break she did not take a break. <strong> Turn Your Self-Isolation 
                        into Self-Improvement!</strong>
                        <br><br>
                        Together we are facing an unprecedented time that is affecting all of our community, our families, and our way of life. 
                        As the nation battles to curb the impact of the coronavirus, our one and only responsibility right now is to stay safe 
                        and practice social distancing. The next few weeks are critical in this battle. I request everyone to stay at home and 
                        enjoy good time with family.
                        <br><br>
                        Let's fight with Corona together! 😷
                        <br>
                        <strong>Stay Home, Stay Safe!</strong>
                        <br><br>
                        With lots of love <br> Mustafiz Kaifee
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-4 card card-small">
                <div class="border-bottom card-header">
                    <h6 class="m-0">Disclaimer</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="p-3 list-group-item">
                        The imformation provided by this website is for general information only. All the data on this
                        site is fetched from the open source <a href="https://api.covid19india.org/data.json" target="_blank">API for India</a> and 
                        <a href="https://api.covid19api.com/summary" target="_blank">API for world</a>
                        and is provided in good faith however I do not make guarentee of any kind, express, regarding 
                        the accuracy,  adequacy, validity, reliability, availability or completeness of any information. 
                        For all the information, external source links are provided. The external links are not regularly investigated, 
                        monitored, or checked for accuracy, adequacy, validity, reliability, availability or completeness by me. 
                        The website is hosted on <a href="https://www.heroku.com" target="_blank">Heroku</a> and the source code can be found on <a href="https://github.com/Mustafiz04/Covid-19-website" target="_blank">GitHub</a>
                        <br>
                        <br>
                        <strong>Last updated 17-04-2020 <br> Gaya, India</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-4 card card-small">
                <div class="border-bottom card-header">
                    <h6 class="m-0">
                        Consider leaving star ☆ on GitHub repo. Follow me on GitHub 
                        <a href="https://github.com/Mustafiz04" target="_blank"> @mustafiz04 </a>
                        and my instagram page <a href="https://www.instagram.com/codesthaan/" target="_blank">@codesthaan</a>.
                        Don't forget to visit my website <a href="https://mustafiz04.github.io/mustafizkaifee/index.html" target="_blank">mustafizkaifee</a>.

                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var preloader = document.getElementById('loader');
    preloader.style.display = 'none';
</script>

<%- include('../partial/footer') %>