<%- include('../partial/header') %>

<div class="container donate">
    <div class="row donate-row">
        <div class="error">
            <h2>STAY HOME, STAY SAFE</h2>
            <h3>PM CARES FUND</h3>
            <p>Kindly contribute to PM Cares fund to help our nation.</p>
            <a href="https://pib.gov.in/PressReleseDetailm.aspx?PRID=1608851" target="_blank">
                <button class="btn btn-primary btn-pill">Donate Now</button>
            </a>
        </div>
    </div>
</div>

<script>
    var preloader = document.getElementById('loader');
    preloader.style.display = 'none';
</script>

<%- include('../partial/footer') %>