<%- include('../partial/header') %>

<div class="container-fluid">
    <div class="section_header text-center mb-5 mt-4">
        <h1>India Covid-19 Timeline</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="table-responsive data-table">
        <table class="table text-center" id="tbval">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total Confirmed</th>
                    <th>Total Recovered</th>
                    <th>Total Deaths</th>
                    <th>Daily Confirmed</th>
                    <th>Daily Recovered</th>
                    <th>Daily Death</th>
                </tr>
            </thead>
          </table>
    </div> 
</div>

<script src="/js/indiacovid.js"></script>


<%- include('../partial/footer') %>