<%- include('../partial/header') %>

<div class="container-fluid">
    <div class="section_header text-center mb-5 mt-4">
        <h1>India Covid-19 Statistics</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="table-responsive data-table">
        <table class="table text-center" id="tbval">
            <thead>
                <tr>
                    <th>State</th>
                    <th>Confirmed</th>
                    <th>Active</th>
                    <th>Recovered</th>
                    <th>Total Deaths</th>
                </tr>
            </thead>
          </table>
    </div> 
</div>

<script src="/js/statewise.js"></script>


<%- include('../partial/footer') %>