<%- include('../partial/header') %>

<div class="container-fluid">
    <div class="section_header text-center mb-5 mt-4">
        <h1>Global Covid-19 Statistics</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table text-center" id="tbval">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Total Confirmed</th>
                    <th>Total Recovered</th>
                    <th>Total Deaths</th>
                    <th>New Confirmed</th>
                    <th>New Recovered</th>
                    <th>New Death</th>
                </tr>
            </thead>
          </table>
    </div> 
</div>

<script src="/js/worldcovid.js"></script>


<%- include('../partial/footer') %>